; Usage: create a new ~/.gitconfig and add the following contents:
;[include]
;	path = ~/dotfiles/.gitconfig

[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	mergeoptions = --no-edit
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED

[push]
	autoSetupRemote = true

[init]
	defaultBranch = master

[pull]
	rebase = true

[submodule]
	recurse = true
[user]
	email = L0laapk3@gmail.com
	name = L0laapk3
	signingkey = ~/.ssh/id_ed25519.pub

[commit]
	gpgsign = true
[gpg]
	format = ssh
